@inherits LayoutComponentBase

<div class="sidebar">
    <div class="top-row pl-4 navbar navbar-dark">
        <a class="navbar-brand" href="">LIFE LINE</a>
    </div>
</div>

<div class="main">
    <div class="content px-4">
        @Body
    </div>
</div>
